
.invite-container {
    width: 100%;
  position: absolute ;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 500px;
  background: linear-gradient(180deg, #151730 0%, #092D5B 100%);  
  color: #4a4a4a;
  font-family: "Cinzel", serif;
  color: #D8BF88;
padding: 4rem 0;
}


.info-column {
  display: grid;
  grid-template-rows: 1fr auto 1fr auto 1.5fr;
  padding: 40px;
  text-align: center;
  border-right: 1px solid #D8BF88;
}

.info-block h3 {
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: 10px;
}

.info-block p {
  font-size: 0.85rem;
  line-height: 1.6;
  margin: 5px 0;
}

.divider {
  width: 80%;
  border: 0;
  border-top: 1px solid #D8BF88;
  margin: 20px auto;
}


.greeting-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  background-image: url('path-to-your-flower-graphic.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.greeting-column h1 ,.greeting-column h2 {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 40px;
}



@media (max-width: 768px) {
  .invite-container {
    grid-template-columns: 1fr;
  }
}