.save-date-container {
  display: flex;
  justify-content: center;
  align-items: center;  
  background: linear-gradient(180deg, #092D5B 0%, #151730 100%); 
  height: auto;
  padding: 1rem;
}

.background-container-location {
 
  background-color: white;
  width: 80%;
  height:auto;
  border-radius: 20px;
  position: relative; 
  overflow: hidden;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Top image, content, then location details */
}

.hotel-image-container {
  width: 100%;
  max-width: 620px;
  margin: auto;
}

.hotel-image-container img {
  width: 90%;
  height: auto;
}

.card-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
  margin-top: -6rem;
}

.announcement-section {
  text-align: center;
}

.qr-announcement-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0; /* Added margin for spacing */
}

.qr-section {
  text-align: center;
  margin-bottom: 1rem;
}

.qr-label {
  font-size: 0.8rem;
  font-weight: lighter;
  margin-bottom: 0.5rem;
}

.qr-image {
  width: 160px;
  height: auto;
}

.announcement {
  letter-spacing: 0.3rem;
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  font-family: 'Arvo', serif;
  text-align: start;
}

.hotel-name {
  margin: 0;
  font-size: 4rem;
  font-family: 'Ephesis', cursive;
  color: #D8BF88;
}

.location-details {
  font-size: 1em;
  margin-top: 1rem;
  color: #002855;
  font-family: 'Arvo', serif;
  text-align: center;
  padding: 1rem;
  text-align: center; /* Center text for location details */
}
.venue-name{
  font-size: 1rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.wedding-calender{
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
}
.wedding-calender img{
  width: 50px;
  height: 100%;
}

@media (max-width: 1200px) {
   .card-content{
    margin-top: -5rem;
   }
  .announcement {
    font-size: 2.5rem;
  }

  .hotel-name {
    font-size: 3rem;
  }
  
  .location-details {
    font-size: 1.2rem;
    padding: 2rem;
  }
}  

@media (max-width: 920px) {
  .announcement {
    font-size: 2.5rem;
  }

  .hotel-name {
    font-size: 3rem;
  }

  .location-details {
    font-size: 1rem;
  }
}  

@media (max-width: 720px) {

  .card-content {
    flex-direction: column;
  }
  .hotel-image-container img {
    width: 90%;
    margin: auto;
  }
  .qr-image {
      width: 45%;
  }
  .announcement {
    font-size: 2.5rem;
  }

  .hotel-name {
    font-size: 2.5rem;
  }

  .location-details {
       margin: 0;
    font-size: 1rem;
  }
  .wedding-calender{
  font-size: 0.9rem;
}
}  

@media (max-width: 620px) {
  .qr-announcement-section {
    flex-direction: column-reverse;
    align-items: center; /* Center align for smaller screens */
    margin: 0 auto;
  }

  .hotel-image-container img {
    width: 70%;
  }

  .qr-label {
    font-size: 1rem;
  }

  .qr-image {
    width: 40%;
  }

  .announcement {
    font-size: 2rem;
  }

  .location-details {
    font-size: 0.8rem;
  }
  .wedding-calender{
    font-size: 0.7rem;
  }
  
}
@media (max-width: 420px) {
   .card-content{
    margin-top: 0;
   }
  .hotel-image-container img {
    width: 70%;
  }

  .qr-label {
    font-size: 0.5rem;
  }

  .qr-image {
    width: 40%;
  }

  .announcement {
    font-size: 1rem;
    text-align: center;
  }
  .hotel-name {
    font-size: 1.5rem;
  }
  .venue-name {
    font-size: 0.7rem;
  }
  .location-details {
    font-size: 0.6rem;
 
  }
}