/* .loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 10000; 
  overflow: hidden;
}

.door {
  position: relative;
  width: 50%;
  height: 100%;
  transition: transform 1.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.door img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.left-door {
  transform: translateX(0);
  z-index: 9999;
}

.right-door {
  transform: translateX(0);
}

.slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
}

.gold-seal {
  position: absolute;
  right: -40px; 
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}  */