
.background-container {
  background-size: cover;
  background-position: center;
  background: linear-gradient(135deg, #151730 0%, #092D5B 100%);
  width: 100%;
  height: 100vh ;
}
.background-image-container{
    margin: auto;
    width: 90%;
    position: relative;
    height: inherit;
}
.background-image-container img {
  width: 90%;
  height: 100%;
}

.centered-text {
  width: max-content;
  position: absolute;
  top: 50%; 
  left: 50%; 
  letter-spacing: 0.1rem !important;
  transform: translate(-50%, -50%);
  font-family: 'Arvo', serif;
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px; 
}

.top {
  padding: 1rem;
}


.line-image img {
  width: 50%  ; 
  height: auto; 
}
.arabic-text {
  font-family: 'Aref Ruqaa', serif;
  font-size: 2rem; 
  margin-bottom: 1rem;
}

.verse-text {
  font-family: 'Aref Ruqaa', serif;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.love-note,
.wedding-invite,
.date-text,
.save-the-date,
.venue {
  font-size: 0.7rem; 
  margin-bottom: 0.5rem;
}

.names {
  font-size: 6rem; 
  font-family: 'Ephesis';
  font-weight: 600;
  text-transform: none; 
  margin: 1rem 0;
}


@media (max-width: 1200px) {

  .centered-text {
    margin: auto;
    letter-spacing: 0.1rem;
    width: max-content;
  }

  .arabic-text{
    font-size: 3rem;
  }
  .verse-text{
    font-size: 2rem;
  }
  .love-note,
  .wedding-invite,
  .date-text,
  .save-the-date,
  .venue {
    font-size: 1.3rem; 
  }

  .names {
    font-size: 6rem; 
  }
}


@media (max-width: 1024px) {

  .arabic-text {
    font-size: 3rem; 
  }

  .verse-text {
    font-size: 1.5rem; 
  }
  .love-note,
  .wedding-invite,
  .date-text,
  .save-the-date,
  .venue {
    font-size: 1rem; 
    margin-bottom: 0.5rem;
  }
   .names {
    font-size: 6rem; 
  }
}

@media (max-width: 768px) {
  .arabic-text,
  .verse-text {
    font-size: 1.5rem; 
  }
  .names {
    font-size: 5rem; 
  }
}

@media (max-width: 600px) {
 

  .arabic-text{
    font-size: 1rem;
  }
  .verse-text{
    font-size: 0.8rem;
  }
  .love-note,
  .wedding-invite,
  .date-text,
  .save-the-date,
  .venue {
    font-size: 0.5rem; 
  }

  .names {
    font-size: 2.8rem;
    margin: 0;
  }
}