
.invitation-container {
  background: linear-gradient(135deg, #151730 0%, #092D5B 100%);
  width: 100%;
  height: 100dvh;
} 
 .background-invitation{
  position: relative;
  width: 95%;
  max-width: 500px;
  height: 100dvh;
  margin: auto;
  padding: 1rem 0;
}
.background-invitation img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-text {
  width: 90%;
  position: absolute;
  top: 50%; 
  left: 50%; 
  letter-spacing: 0.1rem !important;
  transform: translate(-50%, -50%);
  font-family: 'Arvo', serif;
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px; 
  z-index: 2;
}

.top {
  padding: 1rem;
}


.line-image img {
  width: 50%  ; 
  height: auto; 
}
.arabic-text {
  font-family: 'Aref Ruqaa', serif;
  font-size: 2rem; 
  margin-bottom: 1rem;
}

.verse-text {
  font-family: 'Aref Ruqaa', serif;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.love-note,
.wedding-invite,
.date-text,
.save-the-date,
.venue {
  font-size: 0.7rem; 
  margin-bottom: 0.5rem;
}

.names {
  font-size: 4rem; 
  font-family: 'Ephesis';
  font-weight: 600;
  text-transform: none; 
  margin: 1rem 0;
}


@media (max-width: 1200px) {

  .main-text {
    margin: auto;
    letter-spacing: 0.1rem;
    width: max-content;
  }

  .arabic-text{
    font-size: 3rem;
  }
  .verse-text{
    font-size: 2rem;
  }
  .love-note,
  .wedding-invite,
  .date-text,
  .save-the-date,
  .venue {
    font-size: 1.3rem; 
  }

  .names {
    font-size: 6rem; 
  }
}


@media (max-width: 1024px) {
  .main-text{
      margin: auto;
      letter-spacing: 0.1rem;
      width: max-content;
    }

  .arabic-text {
    font-size: 1.8rem; 
  }

  .verse-text {
    font-size: 1.3rem; 
  }
  .love-note,
  .wedding-invite,
  .date-text,
  .save-the-date,
  .venue {
    font-size: 0.6rem; 
    margin-bottom: 0.5rem;
  }
   .names {
    font-size: 4rem; 
  }
}

@media (max-width: 768px) {
    .main-text {
      margin: auto;
      letter-spacing: 0.1rem;
      width: max-content;
    }

  .arabic-text,
  .verse-text {
    font-size: 1.5rem; 
  }
  .names {
    font-size: 5rem; 
  }
}

@media (max-width: 600px) {
 
  .main-text{
      margin: auto;
      letter-spacing: 0.1rem;
      width: max-content;
    }

  .arabic-text{
    font-size: 1rem;
  }
  .verse-text{
    font-size: 0.8rem;
  }
  .love-note,
  .wedding-invite,
  .date-text,
  .save-the-date,
  .venue {
    font-size: 0.5rem; 
  }

  .names {
    font-size: 2.8rem;
    margin: 0;
  }
}
@media (max-width: 400px) {
 
  .main-text{
      margin: auto;
      letter-spacing: none ;
      width: max-content;
    }

  .arabic-text{
    font-size: 0.9rem;
  }
  .verse-text{
    font-size: 0.7rem;
  }
  .love-note,
  .wedding-invite,
  .date-text,
  .save-the-date,
  .venue {
    font-size: 0.4rem; 
  }

  .names {
    font-size: 2.6rem;
    margin: 0;
  }
}