#root {
 
  margin: 0 auto;
 
  text-align: center;

}
body {

  background-color: #F2F2F2;
  font-family: 'Arial', sans-serif;
  color: #002855;
  margin: 0;
 
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
